<h3>RateGame</h3>

<div style="margin: auto; width: 800px">
    <div class="col-md-4;">
        <form asp-controller="Rates" asp-action="RateDev" method="post">
            <input hidden id="_DevId" name="DevId" value="@ViewBag.DevId" />
            <label for="_Rating">Rating: </label>
            <select name="Rating" id="_Rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> |
            <label for="_Text">Description:</label>
            <input id="_Text" name="Text"/> |
            <input type="submit" value="Rate" class="btn btn-primary" />
        </form>
    </div>
</div>